main {
    position: relative;
}

main::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, .01) 1%, #000);
}

#main-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    background-color: transparent;
    z-index: 3;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}

#main-content * {
    color: white;
    font-weight: 900;
    font-family: Open Sans, sans-serif;
}

body {
    height: 100vh;
}

/* ------------------------------------------
Main container 1
------------------------------------------- */

.main-cont-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#cont1,
#cont2,
#cont3 {
    border: 2px solid black;

}

/* ------------------------------------------
Main container 2
------------------------------------------- */

.main-cont-2 {
    display: flex;
    justify-content: space-evenly;

}

#cont4 {
    display: flex;
    flex-direction: column;
    gap: 10vh;

}

#mincont4-1 {
    border: 2px solid black;
    width: 8vw;
}

#mincont4-2 {
    display: flex;
    gap: 10vw;

}

#mincont4-2 div {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 24vh;
    padding: 2%;
}

#cont5 {
    border: 2px solid black;

}



#cont5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ------------------------------------------
Main container 3
------------------------------------------- */

.main-cont-3 {
    display: flex;
    justify-content: center;
}

#cont6 {
    border: 2px solid black;
}

.back-btn {
    cursor: pointer !important;
    border: none;
    color: white;
    background-color: #116bac;
    padding: 10px 5px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    width: 10vw;
    height: 5vh;
}

/* ------------------------------------------
ERROR CONTAINER
------------------------------------------- */

.details-card {
    display: none;
}